img {border: 1px solid #ddd;
		border-radius: 4px;
		padding: 5px;
		width: 400px;
}

body { 
	   background-color:lightblue;
	
	   }
	   
.gold { color:gold;
		font-size:24px;

}

#specialstyle {
				width:30%;
				border:2px solid red;
				background-color:yellow;
				}
